.page-scroll-4 {
    height: 500vh;
    background-color: black;
}
.animation-img {
    position: fixed;
    display: none;
    object-fit: cover;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
}
.animation-img:nth-child(1) {
    display: block;
}